@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cdt-primary: #fcaf17;
  --cdt-secondary: #004384;
  --cdt-text: #15243a; 
  --cdt-bg: #ffffff;
  --cdt-link: #818181;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cdt-primary: #fdb729;
    --cdt-secondary: #004d99;
    --cdt-text: rgba(241, 240, 247, 0.73);
    --cdt-bg: #001933;
    --cdt-link: #A9A9A9;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}