@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cdt-primary: #fcaf17;
  --cdt-secondary: #004384;
  --cdt-text: #15243a;
  --cdt-bg: #ffffff;
  --cdt-link: #818181;
  --cdt-label-1: #ff5733;
  --cdt-label-2: #33ff57;
  --cdt-label-3: #3366ff;
  --cdt-label-4: #ff3366;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cdt-primary: #fdb729;
    --cdt-secondary: #004d99;
    --cdt-text: rgba(241, 240, 247, 0.73);
    --cdt-bg: #001933;
    --cdt-link: #A9A9A9;
    --cdt-label-1: #ff8c66;
    --cdt-label-2: #66ff8c;
    --cdt-label-3: #668cff;
    --cdt-label-4: #ff66a3;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}